* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 100vh;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: lightblue;
  color: rgb(70, 70, 235);
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}