#optimized {
    text-align: center;
    margin: 10px auto;
    color: blue;
    h2 {
        color: blue;
    }
    #list-content {
        margin: 10px auto;
        width: 80%;
        min-height: 100vh;
        border: 1px solid transparent;
    }
}
